#{extends 'main.html' /}
#{set title:'Cadastro de Animais' /}

<h1>Cadastro de Animal</h1>

<form action="@{Animais.salvarAnimal}" method="post">
	<input type="hidden" name="animalObj.id" value="${animalEditObj?.id}">
	<label class="form-label">Nome Do Animal:</label>
	<input type="text" name="animalObj.nomeAnimalString" class="form-control" value="${animalEditObj?.nomeAnimalString}" />
	<br/>
	
	<label class="form-label">Peso do Animal:</label>
	<input type="number" name="animalObj.pesoAnimalInteger" class="form-control" value="${animalEditObj?.pesoAnimalInteger}" />
	<br/>
	
	<label class="form-label">Data de Nascimento do Animal:</label>
	<input type="date" name="animalObj.dataNascimentoAnimalDate" class="form-control" value="${animalEditObj?.dataNascimentoAnimalDate?.format('yyyy-MM-dd')}" />
	<br />	

	<label class="form-label">Tipo do Animal:</label>
	<select name="animalObj.tipoAnimal.id" class="form-select">
		#{list items:tipoAnimalListObj, as:'TAList'}
			<option value="${TAList.id}" ${TAList.id == animalEditObj?.tipoAnimal?.id ? 'selected' : ''}>${TAList.descricaoString}</option>
		#{/list}
	</select>
	<br />
	
	
	<input type="submit" class="btn btn-primary" value="${animalEditObj ? 'Atualizar Cadastro' : 'Cadastrar Animal'}">
</form>
<br>
<br>
<a class="btn btn-success btn-sm" href="@{TiposAnimais.formulario}">Cadastrar um Tipo de Animal</a> 
<a class="btn btn-success btn-sm" href="@{Animais.listarAnimais}">Listar Animais Cadastrados</a> 